.clickableCard {
  transition: transform 300ms;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.clickableCard:active {
  transform: scale(.98);
}

.clickableCard:hover .icon {
  right: 4px;
  top: 4px;
  transform: rotate(0);
  opacity: 1;
}

.name {
  font-weight: bold;
  font-size: 1.25rem;
}

.description {
  transition: all 200ms;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-right: 32px;
  opacity: .8;
}

.icon {
  position: absolute;
  right: -4px;
  top: -4px;
  transform: rotate(-15deg);
  transition: all 500ms;
  opacity: .3;
}

.icon:hover {
  transform: rotate(0);
  opacity: 1;
}

