.siderOuter {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.siderMenu {
  flex: 1;
}

.userAction {
  padding: 8px;
}

.logoSection {
  padding: 24px;
  font-size: 16px;
  font-weight: 800;
}
