.siderOuter {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.siderMenu {
  flex: 1;
}

.userAction {
  padding: 8px;
}

.logoSection {
  padding: 24px;
  font-size: 16px;
  font-weight: 800;
}

.header {
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding: 16px;
  overflow-y: scroll;
}
