.title {
  margin: 0;
  font-size: 24px;
}

.description {
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 16px;
  margin: 20px 0;
}

.value {
  width: 100%;
  font-size: 40px;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 48px;
  margin: 0;
  cursor: pointer;
}
