.logoImage {
  height: 40px;
}

.marketingWrapper {
  background: rgb(0,34,3);
  background: linear-gradient(143deg, rgb(0, 28, 3) 0%, rgba(0,3,0,1) 46%, rgba(0,0,0,1) 100%);
}

.marketingNavbar {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.marketingNavbarInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logoText {
  font-weight: 600;
  font-size: 24px;
}

.footerWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.meta {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.menuItem {
  padding: 16px 0;
}

.menuItemIcon {
  width: 32px;
  height: 32px;
  background-color: white;
}

.mobileActions {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .actions {
    display: none;
  }

  .mobileActions {
    display: flex;
    flex-direction: row;
  }

  .networkSelector {
    display: none;
  }
}
