.authOuter {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-size: cover;
}

.authFigure {
  flex: 1;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 64px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}

.logo {
  display: none;
  height: 40px;
}

.authSection {
  width: 100%;
  max-width: 500px;
  display: flex;
}

.authForm {
  background-color: #ffffff11;
  flex: 1;
  display: flex;
  padding: 48px;
  align-items: center;
}


@media (max-width: 1200px) {
  .logo {
    display: block;
  }
  .authOuter {
    align-items: center;
    justify-content: center;
  }
  .authFigure {
    display: none;
  }
  .authSection {
    padding: 16px;
    display: block;
  }
  .authForm {
    border-radius: 24px;
    padding: 32px;
  }
}
